
export HYDRA_OVERRIDES="ZGV0YWlsZWRfZXZpZGVuY2VfbG0saGlnaF9sZWFybmluZ19yYXRlLHdhbmRiX2Rpc2FibGVk"
export HYDRA_OVERRIDE_STR="+experiment/config/logging@test.config.logging=detailed_evidence_lm +experiment/config/optimizer@train.config.optimizer=high_learning_rate +experiment/config/logging@test.config.logging=wandb_disabled"
